html {
    background-color: black;
    transition: background-color 1s ease;
    transition-delay: 0.6s;
}

html.red-bg {
    background-color: #5A1414;
}

.pages {
    height: 95vh;
}

.page {
    height: 0;
    display: none;
}

.page.active {
    height: 100% !important;
    display: block;
}

#page0 {
    text-align: center;
    align-content: center;
    font-size: 15vh;

    background: radial-gradient(ellipse 60% 40% at center,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 0, 0, 0.4) 50%,
            rgba(255, 0, 0, 0) 100%);
    transition: opacity 0.6s ease;
    cursor: pointer;
}

#page0.fade-out {
    opacity: 0;
    pointer-events: none;
}