#page1-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#page1-top {
    flex: .6;
    margin: 10px;
}

#page1-top-wrap {
    opacity: 0;
    transition: opacity 1s ease;
    border: solid 1px black;
    border-radius: 10px;
    height: 100%;
}

#page1-input {
    color: black;
    background-color: #540d0d;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border: 0;
    border-radius: 10px;
    text-align: center;
    font-size: 10vh;
}

#page1-input::placeholder {
    color: black;
}

.page.active #page1-top-wrap {
    opacity: 1;
    transition-delay: 0.6s;
}


#page1-bottom {
    flex: .4;
    margin: 10px;
}

#page1-bottom-wrap {
    border: solid 1px black;
    border-radius: 10px;
    height: 100%;
}