#page1-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#page1-top {
    flex: .2;
    margin: 10px;
}

#page1-top-wrap {
    opacity: 0;
    transition: opacity 1s ease;
    border: solid 1px black;
    border-radius: 10px;
    height: 100%;
}

#page1-input {
    color: black;
    background-color: #540d0d;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border: 0;
    border-radius: 10px;
    text-align: center;
    font-size: 10vh;
}

#page1-input::placeholder {
    color: black;
}

#page1-input:focus-visible {
    outline: none;
}

.page.active #page1-top-wrap {
    opacity: 1;
    transition-delay: 0.6s;
}

#page1-middle {
    flex: .25;
    margin: 10px;
}

#page1-middle-wrap {
    background-color: #540d0d;
    border: solid 1px black;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 9vh;
    cursor: pointer;
}

#page1-bottom {
    flex: .55;
    margin: 10px;
}

#page1-bottom-wrap {
    background-color: #540d0d;
    border: solid 1px black;
    border-radius: 10px;
    height: 100%;
    cursor: pointer;
}

#carousel-wrapper {
    width: 100%;
    height: 350px; /* or whatever height you want */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* THIS centers vertically */
    overflow: hidden;
}


#carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
}

.card {
    position: absolute;
    width: 200px;
    height: 300px;
    background: #540d0d;
    border-radius: 12px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    transition: transform .4s ease, opacity .4s ease;
    cursor: pointer;
}

.card.center {
    transform: scale(1.3) translateZ(50px);
    z-index: 10;
}

.card.center:hover {
    transform: scale(1.45) translateZ(50px);
}
